.payiq-method-payiq-cc > .entry-edit-head > .config-heading .heading strong {
    padding-left: 90px;
    background: url(images/payiq-logo.png) no-repeat 0 0;
    background-size: 82px 39px;
    line-height: 39px;
}
