<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="payiq_config_provider" xsi:type="object">PayIQ\Magento2\Model\PayIQConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="payiq_fee_config_provider" xsi:type="object">PayIQ\Magento2\Model\FeeConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="payiq_ssn_config_provider" xsi:type="object">PayIQ\Magento2\Model\SsnConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
